{% extends 'base.html' %}
{% block content %}

<h1>Trainers</h1>
<div class="trainers_page">
<div class="trainers_container">
{% for trainer in trainers%}
<div class="trainer">
    <ul>
        <li><a href="/trainers/{{trainer.id}}">{{trainer.name}}</a></li>
        <li>{{trainer.number}}</li>
    </ul>
<div class="trainer_buttons">
    <form action="/trainers/{{trainer.id}}/edit">
        <button class="edit">Edit</button>        
    </form>
    <form action="/trainers/{{trainer.id}}/delete" method="post">
        <button class="delete">Remove</button>
    </form>
</div>
</div>
{% endfor %}
</div>
<form class="new_trainer" action="/trainers" method="post">
    <h3>Register Trainer</h3>
    <div>
        <label for="name"></label><br>
        <input type="text" id="name" name="name" placeholder="Name" required>
    </div>
    <div>
        <label for="number"></label><br>
        <input type="number" id="number" name="number" placeholder="Number" required>
    </div>
    <button class="new_button" type="submit">Register Trainer</button>

</form>
</div>

{% endblock %}