{% extends 'base.html' %}
{% block content %}

<h1>Trainers</h1>
<div class="trainers_container">
{% for trainer in trainers%}
<div class="trainer">
    <ul>
        <li><a href="/trainers/{{trainer.id}}">{{trainer.name}}</a></li>
        <li>{{trainer.number}}</li>

    </ul>
<div>
    <form action="/trainers/{{trainer.id}}/edit">
        <button>Edit</button>        
    </form>
    <form action="/trainers/{{trainer.id}}/delete" method="post">
        <button>Remove</button>
    </form>
</div>
</div>
{% endfor %}
</div>

{% endblock %}