{% extends 'base.html' %}

{% block content %}

<h1>Edit Staff</h1>
<form class="new_pokemon" action="/staff/{{nurse.id}}/edit" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{nurse.name}}" required >
    </div>
    <div>
        <label for="specialisation">Specialisation:</label>
        <select id="specialisation" name="specialisation">
            <option value="Grass" {%if nurse.specialisation == "Grass"%} selected {%endif%}>Grass</option>
            <option value="Fire" {%if nurse.specialisation == "Fire"%} selected {%endif%}>Fire</option>
            <option value="Water" {%if nurse.specialisation == "Water"%} selected {%endif%}>Water</option>
            <option value="Poison" {%if nurse.specialisation == "Poison"%} selected {%endif%}>Poison</option>
            <option value="Ghost" {%if nurse.specialisation == "Ghost"%} selected {%endif%}>Ghost</option>
            <option value="Bug" {%if nurse.specialisation == "Bug"%} selected {%endif%}>Bug</option>
            <option value="Fighting" {%if nurse.specialisation == "Fighting"%} selected {%endif%}>Fighting</option>
            <option value="Psychic" {%if nurse.specialisation == "Psychic"%} selected {%endif%}>Psychic</option>
            <option value="Rock" {%if nurse.specialisation == "Rock"%} selected {%endif%}>Rock</option>
            <option value="Ground" {%if nurse.specialisation == "Ground"%} selected {%endif%}>Ground</option>
            <option value="Dragon" {%if nurse.specialisation == "Dragon"%} selected {%endif%}>Dragon</option>
            <option value="Ice" {%if nurse.specialisation == "Ice"%} selected {%endif%}>Ice</option>
            <option value="Electric" {%if nurse.specialisation == "Electric"%} selected {%endif%}>Electric</option>
            <option value="Normal" {%if nurse.specialisation == "Normal"%} selected {%endif%}>Normal</option>
        </select>
    </div>
    <button type="submit">Confirm</button>

</form>
{% endblock %}