{% extends 'base.html' %}

{% block content %}

<h1>Staff</h1>
<div class="nurse_page">
<div class="nurse_container">
{% for nurse in nurses%}
<div class="nurse">
    <a href="/staff/{{nurse.id}}">{{nurse.name}}</a>

<div>
    <form action="/staff/{{nurse.id}}/edit">
        <button class="edit">Edit</button>        
    </form>
    <form action="/staff/{{nurse.id}}/delete" method="post">
        <button class="delete">Remove</button>
    </form>
</div>
</div>
{% endfor %}
</div class="new">
<form class="new_nurse" action="/staff" method="post">
    <div>
        <label for="name">New Nurse</label>
        <input type="text" id="name" name="name" placeholder="Name" required>
    </div>
    <button class="new_button" type="submit">Add Nurse</button>

</form>
</div>
{% endblock %}