{% extends 'base.html' %}

{% block content %}
<h1>Pokemon</h1>

{% for pokemon in pokemons%}
<div>
    <ul>
        <li>Nickname: <a href="/pokemon/{{pokemon.id}}">{{pokemon.nickname}}</a></li>
        <li>Species: <a href="/pokemon/{{pokemon.species}}">{{pokemon.species}}</a></li>
        <li>Type: <a href="/pokemon/{{pokemon.type}}">{{pokemon.type}}</a></li>
        <li>Status: <a href="/pokemon/{{pokemon.status}}">{{pokemon.status}}</a></li>
        <li>Date of Birth: {{pokemon.dob}}</li>
        <li>Contact Details: {{pokemon.trainer_name}} {{pokemon.trainer_number}}</li>
        <li>Nurse: <a href="/pokemon/{{pokemon.nurse.id}}">{{pokemon.nurse.name}}</a></li>
        

</div>

{% endfor %}
{% endblock %}