{% extends 'base.html' %}

{% block content %}

<h1>New Pokemon</h1>

<form  class="new_pokemon" action="/pokemon"  method="post">
    <div>
        <label for="nickname">Nickname:</label>
        <input type="text" id="nickname" name="nickname" placeholder="Nickname" required>
    </div>
    <div>
        <label for="species">Species:</label>
        <input type="text" id="species" name="species" placeholder="Species" required>
    </div>
    <div>
        <label for="type">Type:</label>
        <select id="type" name="type">
            <option value="Grass">Grass</option>
            <option value="Fire">Fire</option>
            <option value="Water">Water</option>
            <option value="Poison">Poison</option>
            <option value="Ghost">Ghost</option>
            <option value="Bug">Bug</option>
            <option value="Fighting">Fighting</option>
            <option value="Psychic">Psychic</option>
            <option value="Rock">Rock</option>
            <option value="Ground">Ground</option>
            <option value="Dragon">Dragon</option>
            <option value="Ice">Ice</option>
            <option value="Electric">Electric</option>
            <option value="Normal">Normal</option>
        </select>
    </div>
    <div>
        <label for="dob">Date of Birth:</label>
        <input type="text" id="dob" name="dob" placeholder="dd/mm/yyyy" required>
    </div>
    <div>
        <label for="status">Status:</label>
        <input type="text" id="status" name="status" placeholder="Status" required>
    </div>
    <div>
        <label for="trainer_id">Trainer Name:</label>
        <select id="trainer_id" name="trainer_id">
            {% for trainer in trainers %}
            <option value="{{trainer.id}}">{{trainer.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="nurse_id">Nurse:</label>
        <select id="nurse_id" name="nurse_id">
            {% for nurse in nurses %}
            <option value="{{nurse.id}}">{{nurse.name}}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit">Add Pokemon</button> 
</form>

{% endblock %}

