{% extends 'base.html' %}

{% block content %}
<h1>Sick Pokemon</h1>
<div class="pokemon_container">
{% for pokemon in pokemons%}
<div class="pokemon_show_all {{pokemon.type}} {{pokemon.status}}">
    
        <ul class=pokemon_details>
        <li>Nickname: <a href="/pokemon/{{pokemon.id}}/info">{{pokemon.nickname}}</a></li>
        <li>Species: <a href="/pokemon/{{pokemon.species}}">{{pokemon.species}}</a></li>
        <!-- <li>Type: <a href="/pokemon/{{pokemon.type}}">{{pokemon.type}}</a></li>
        <li>Status: <a href="/pokemon/{{pokemon.status}}">{{pokemon.status}}</a></li>
        <li>Date of Birth: {{pokemon.dob}}</li>
        <li>Contact Details: <a href="/trainers/{{pokemon.trainer.id}}">{{pokemon.trainer.name}}</a></li>
        <li>Nurse: <a href="/staff/{{pokemon.nurse.id}}">{{pokemon.nurse.name}}</a></li>
        </ul> 

<form action="/pokemon/{{pokemon.id}}/edit">
    <button class="edit">Edit</button>
</form>
<form action="/pokemon/{{pokemon.id}}/discharge" method="post">
    <button class="delete">Discharge</button>
</form> -->

</div>
{% endfor %}

</div>
{% endblock %}