body {
    color: #ffecec;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;
    background-color: #fbd4dc;
    background-image: url("https://cdn.hipwallpaper.com/i/10/35/kotNd3.jpg");
    font-family: Arial, Helvetica, sans-serif
}

#header {
    background-color: #ea9da9;
    margin: 10px;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
}
h1{
    text-align: center;
    margin: auto;
    width: 500px;
    
}

a {
    color: #ffecec;
    text-decoration: none;
}


ul > li {  
    list-style: none;  
}

#header > ul{
    display: flex;
}
.pokemon_container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    
}

.pokemon {
    background-color: #ea9da9;
    border-radius: 10%;
    height: 250px;
    width: 250px;
    margin: 10px;
    border-width: 0 5px;
    
    
}
#pokemon_details{
    list-style: none;
    

    
}

#menu{
    display: flex;
    justify-content: space-between ;
    padding: 10px;
}

.new_pokemon, .new_nurse, .new_trainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 260px;
    text-align: center;
    align-items: flex-end;
    background-color: #ea9da9;
    border-radius: 10%;
}

.nurse_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nurse {
    background-color: #ea9da9;
    border-radius: 10%;
    height: auto;
    width: 150px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.trainers_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trainer {
    background-color: #ea9da9;
    border-radius: 10%;
    height: auto;
    width: 150px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.Grass{
    background-color: green;
    
}
.Electric{
    background-color: rgb(255, 230, 0);
}
.Fire{
    background-color: red;
}

.Water{
    background-color: blue;
}

.Normal{
    background-color: white;
}

.Poison{
    background-color: darkmagenta;
}
.Bug {
    background-color: rgb(179, 255, 38);
}
.Dragon {
    background-color: lightblue;
}

.Fighting{
    background-color: rgb(172, 0, 0);
}
.Ground{
    background-color: rgb(255, 211, 16);
}
.Psychic{
    background-color: rgb(255, 56, 179);
}
.Rock{
    background-color: rgb(179, 101, 13);
}
.Ice{
    background-color: rgb(14, 207, 255);
}

/* burn */
.frozen{
    border: solid rgb(69, 233, 245);
    border-width: 0 10px;
}
/* paralisis */
.poisoned{
    border: solid rgb(135, 0, 177);
    border-width: 0 10px;
}
/* fainted */
/* healthy */


