body {
    color: #ffecec;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;
    background-color: #fbd4dc;
    background-image: url("https://cdn.hipwallpaper.com/i/10/35/kotNd3.jpg");
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#header {
    background-color: #ea9da9;
    margin: 10px;
    border-radius: 30% 30% 10px 10px;
    border-top-right-radius: 30%;
}
h1, h2{
    text-align: center;
    margin: auto;
    width: 500px;
    color: white;
    
}
header > ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

header > ul > li{
    background-color: #f2f6d8;
    padding: 10px;
    border-color: #ffecec;
    border-radius: 10px;
    border-width: 2px;
}

header > a{
    color: 	white;
}

a {
    color: #ffecec;
    text-decoration: none;
}

.search{
    padding: 10px;
    justify-content: center;
}

.search > button{
    border-radius: 50%;
    padding: 0px;
}
ul > li {  
    list-style: none;  
}


.pokemon_container{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    
}

.pokemon {
    background-color: #ea9da9;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    width: 200px;
    margin: 5px;
    border-width: 0 5px;
    justify-content: center;
    align-content: center;
}
.pokemon_show_all{
    background-color: #ea9da9;
    border-radius: 10px 10px 10px 10px;
    width: 200px;
    margin: 5px;
    border-width: 0 5px;
    justify-content: center;
    align-content: center;

}
.pokemon_details{
    list-style: none;
    padding-left: 5px;
}

#menu{
    display: flex;
    justify-content: space-between ;
    padding: 10px;
}

.new_pokemon, .new_nurse, .new_trainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 250px;
    text-align: end;
    align-items: flex-end;
    background-color: #ea9da9;
    border-radius: 10px;
    padding: 10px;
    margin-top: 0px;
}

.nurse_page{
    display: grid;
    grid-template-areas: "nurses new";
}
.nurse_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-column: 1fr 20px;
    grid-area: nurses;

}

.nurse {
    background-color: #ea9da9;
    border-radius: 10%;
    height: 100px;
    width: auto;
    border: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: left;
}
.new_nurse{
    grid-area: new;
    width: 200px;
    text-align: right;
    margin-right: 10px ;
}
.nurse_buttons, .trainer_buttons{
    display: flex;
}
.trainers_page{
    display: grid;
    grid-template-areas: "trainer new_trainer";
    
}

.trainers_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.trainer {
    background-color: #ea9da9;
    border-radius: 10px;
    height: auto;
    width: 130px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    grid-area: trainer;
}

.trainer > ul{
    padding: 0px;
}
.new_trainer{
    grid-area: new_trainer;
    width: auto;
    text-align: right;
    margin-right: 10px ;
}

.delete{
    background-color: rgb(255, 73, 73);
    text-align: center;
    color: rgb(233, 233, 233);
    text-decoration: none;
    border: black;
    display: inline-block;
    padding: 10px 10px;
    transition-duration: 0.5s;
    border-radius: 10%;
}
.edit{
    background-color: rgb(64, 137, 247);
    text-align: center;
    color: rgb(233, 233, 233);
    text-decoration: none;
    border: black;
    display: inline-block;
    padding: 10px 10px;
    transition-duration: 0.5s;
    border-radius: 10%;
}
.new_button{
    background-color: rgb(99, 247, 144);
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: black;
    display: inline-block;
    /* padding: 5px 5px; */
    transition-duration: 0.5s;
    border-radius: 5px;
    
}

.delete:hover{
    background-color: rgb(111, 45, 45);
}
.edit:hover{
    background-color: rgb(52, 52, 143)
}
.new_button:hover{
    background-color:  rgb(57, 138, 80);
}

button{
    margin: 2px;
    padding: 5px 5px;
}

.Grass{
    background-color: rgb(83, 189, 94);
    
}
.Electric{
    background-color: rgb(240, 233, 171);
}
.Fire{
    background-color: rgb(255, 125, 73);
}

.Water{
    background-color: rgb(92, 92, 170);
}

.Normal{
    background-color: rgb(201, 201, 201);
}

.Poison{
    background-color: rgb(136, 85, 136);
}
.Bug {
    background-color: rgb(216, 255, 144);
}
.Dragon {
    background-color: rgb(148, 183, 194);
}

.Fighting{
    background-color: rgb(148, 70, 70);
}
.Ground{
    background-color: rgb(244, 220, 117);
}
.Psychic{
    background-color: rgb(223, 140, 191);
}
.Rock{
    background-color: rgb(179, 131, 77);
}
.Ice{
    background-color: rgb(182, 235, 249);
}

.Burned{
    border: solid rgb(254, 150, 143);
    
}
.Frozen{
    border: solid rgb(156, 246, 252);
    
}
.Paralysed{
    border: solid rgb(254, 246, 145);
    
}
.Poisoned{
    border: solid rgb(225, 149, 249);
    
}
.Confused{
    border: solid rgb(226, 214, 254);
    
}
.Fainted{
    border: solid rgb(72, 72, 72);
    
}

.Healthy{
    border: solid rgb(112, 193, 85);
    order: 2;
}


