body {
    color: #ffecec;
    background-color: #ff835a;
    font-family: Arial, Helvetica, sans-serif
}

#header {
    
    background-color: #ffacac;
}

a {
    color: #ffecec;
    text-decoration: none;
}


#header > ul > li {
    
    list-style: none;
    
}

#pokemon{
    display: flex;
    background-color: #ffacac;
    height: auto;
    width: 250px;
    margin: 0px;
    align-content: center;
}
#pokemon_details{
    list-style: none;
    
}

#menu{
    display: flex;
    justify-content: space-between ;
}