<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>PokeCenter</title>
</head>
<body>
    <header id="header">
        <h1>
            <a href="/">PokeCenter</a>
        </h1>
        <ul id=menu>
            <!-- <li><a href="/">Home</a></li> -->
            <li><a href="/pokemon">All Pokemon</a></li>
            <li><a href="/pokemon/sick">Sick Pokemon</a></li>
            <li><a href="/pokemon/new">New Pokemon</a></li>
            <li><a href="/staff">Staff</a></li>
            <li><a href="/trainers">Trainers</a></li>
            <!-- <li><a href="/trainers/new">New Trainer</a></li> -->
        </ul>
        <form class="search" action="/pokemon/info/", method="post">  
            <select id="catagory" name="catagory">
                <option selected disabled hidden>Catagory</option>
                <option value="nickname">Nickname</option>
                <option value="type">Type</option>
                <option value="species">Species</option>
                <option value="status">Status</option>
            </select>    
            <label id="search"></label>
            <input type="text" id="search" name="search" required>
            <button type="submit"><img src="/static/Pokemon-Pokeball-PNG-HD-Image.png" hight="15" width="15" alt="submit"/></button>
        </form>
    </header>
    {% block content %}
    {% endblock %}
    
</body>
</html>