<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>PokeCenter</title>
</head>
<body>
    <header id="header">
        <h1>
            PokeCenter
        </h1>
        <ul id=menu>
            <li><a href="/">Home</a></li>
            <li><a href="/pokemon">Pokemon</a></li>
            <li><a href="/pokemon/new">New Pokemon</a></li>
            <li><a href="/staff">Staff</a></li>
            <li><a href="/staff/new">New Staff</a></li>
        </ul>
    </header>
    {% block content %}
    {% endblock %}
    
</body>
</html>